# Project
public/**/*.css.gz
public/**/*.js.gz
vendor/
.env
composer.lock

# Platform
.Trashes/
.DS_Store
Thumbs.db
desktop.ini
*.bak
*.log
*.swp
*.tmp
*~

# IDE
## IntelliJ
.idea/
*.iml
*.ipr
*.iws

## NetBeans
nbproject/

## Zend
.settings/
.buildpath
.project
