# Project
conf/head.ini
conf/settings.php
src/public/assets/*.css.gz
src/public/assets/*.js.gz
.htaccess

# Platform
.Trashes/
.DS_Store
Thumbs.db
desktop.ini
*.bak
*.log
*.swp
*.tmp
*~

# IDE
## IntelliJ
.idea/
*.iml
*.ipr
*.iws

## NetBeans
nbproject/

## Zend
.settings/
.buildpath
.project