@media screen and (max-width: 750px) {
    #navbar {
        display: none;
    }
}

#bitbucket {
    float: right;
}

#navbar {
    margin-top: 10px;
}

#footer {
    float: right;
    margin-bottom: 10px;
}

#save{
    margin-bottom: 10px;
    padding: 0 !important;
}

.controls fieldset legend {
    margin-bottom: 0;
    padding-top: 10px;
}

.downloadify {
    position: relative;
}

.downloadify object {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}