# Rewrite 404 pages to index.php
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule .* index.php [L]
</IfModule>

# Support for pre-compressed css and js files
SetEnvIfNoCase Request_URI "\.gz" no-gzip dont-vary

<Files *.css.gz>
  AddEncoding gzip .css
  ForceType text/css
</Files>

<Files *.js.gz>
  AddEncoding gzip .js
  ForceType application/x-javascript
</Files>
